{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <section>
        <figure>
            <figcaption>
                <h1>Inscription</h1>
            </figcaption>

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            {{ form_row(registrationForm.RGPDConsent) }}

            <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
            {{ form_end(registrationForm) }}
        </figure>
    </section>
{% endblock %}
