{% extends 'base.html.twig' %}

{% block title %}Achats{% endblock %}

{% block main %}
<section class="container">
    <h1>Liste des achats</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Lieu d'achat</th>
            <th>Date d'achat</th>
            <th>Fin de garantie</th>
            <th>Prix</th>
            <th>Détail</th>
            <th>Modifier</th>
            <th>Supprimmer</th>
        </tr>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.nomProduit }}</td>
                <td>
                    {% for categorie in categories %}
                        {% if categorie.id == achat.idCategorie %}
                            {{ categorie.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ achat.lieuAchat }}</td>
                <td>{{ achat.dateAchat|date('d/m/Y') }}</td>
                <td>{{ achat.finGarantie|date('d/m/Y') }}</td>
                <td>{{ achat.prix }}</td>
                <td><a href="{{ path('visualisation_achat', {'id': achat.id}) }}">Visualiser</a></td>
                <td><a href="{{ path('modification_achat', {'id': achat.id}) }}">modifier</a></td>
                <td><a href="{{ path('suppression_achat', {'id': achat.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
