{% extends 'base.html.twig' %}

{% block title %}Achats{% endblock %}

{% block main %}
<section>
    <figure>
        <figcaption class="ligne ecartee">
            <h1>Liste des achats</h1>
            <nav>
                <a href="{{ path('ajout_achat') }}"><img class="icone" src="{{ asset('images/ajout.svg') }}" alt="Ajouter"></a>
            </nav>
        </figcaption>
        <table>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Lieu d'achat</th>
                <th>Date d'achat</th>
                <th>Fin de garantie</th>
                <th>Prix</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for achat in achats %}
                <tr>
                    <th>{{ achat.nomProduit }}</th>
                    <td>
                        {{ achat.categorie }}
                    </td>
                    <td>{{ achat.lieuAchat }}</td>
                    <td>{{ achat.dateAchat|date('d/m/Y') }}</td>
                    <td>{{ achat.finGarantie|date('d/m/Y') }}</td>
                    <td>{{ achat.prix }}</td>
                    <td class="lien"><a href="{{ path('visualisation_achat', {'id': achat.id}) }}"><img class="icone" src="{{ asset('images/visualisation.svg') }}" alt="Visualiser"></a></td>
                    <td class="lien"><a href="{{ path('modification_achat', {'id': achat.id}) }}"><img class="icone" src="{{ asset('images/edition.svg') }}" alt="Éditer"></a></td>
                    <td class="lien"><a href="{{ path('suppression_achat', {'id': achat.id}) }}"><img class="icone" src="{{ asset('images/suppression.svg') }}" alt="Supprimer"></a></td>
                </tr>
            {% endfor %}
        </table>
    </figure>
</section>
{% endblock %}
