{% extends 'base.html.twig' %}

{% form_theme form_ajout_achat 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter un achat{% endblock %}

{% block main %}
    <section>
        <figure>
            <figcaption>
                <h1>Ajouter un achat</h1>
            </figcaption>

            {{ form_start(form_ajout_achat) }}

                {{ form_row(form_ajout_achat.nom_produit, {'label': 'Nom'}) }}
                <div class="ligne ecartee v-centree">
                    {{ form_row(form_ajout_achat.categorie, {'label': 'Catégorie'}) }}
                    <nav>
                        <a info-bulle="Ajouter" href="{{ path('ajout_categorie') }}"><img class="icone" src="{{ asset('images/ajout.svg') }}" alt="Ajouter"></a>
                    </nav>
                </div>
                {{ form_row(form_ajout_achat.informations, {'label': 'Informations sur le produit'}) }}
                {{ form_row(form_ajout_achat.lieu_achat, {'label': 'Lieu d\'achat'}) }}
                {{ form_row(form_ajout_achat.date_achat, {'label': 'Date d\'achat'}) }}
                {{ form_row(form_ajout_achat.fin_garantie, {'label': 'Date de fin de garantie'}) }}
                {{ form_row(form_ajout_achat.prix, {'label': 'Prix en €'}) }}
                {{ form_row(form_ajout_achat.ticket_achat, {'label': 'Ticket d\'achat'}) }}
                {{ form_row(form_ajout_achat.manuel_utilisation, {'label': 'Manuel d\'utilisation'}) }}

                <button type="submit" class="btn btn-success">Ajouter l'achat</button>

            {{ form_end(form_ajout_achat) }}

        </figure>
    </section>
{% endblock %}