{% extends 'base.html.twig' %}

{% form_theme form_modification_achat 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier un achat{% endblock %}

{% block main %}
    <section>
        <figure>
        <figcaption>
            <h1>Modification de l'achat n<sup>o</sup> {{ id }}</h1>
        </figcaption>

            {{ form_start(form_modification_achat) }}

                {{ form_row(form_modification_achat.nom_produit, {'label': 'Nom'}) }}
                {{ form_row(form_modification_achat.categorie, {'label': 'Catégorie'}) }}
                {{ form_row(form_modification_achat.informations, {'label': 'Informations sur le produit'}) }}
                {{ form_row(form_modification_achat.lieu_achat, {'label': 'Lieu d\'achat'}) }}
                {{ form_row(form_modification_achat.date_achat, {'label': 'Date d\'achat'}) }}
                {{ form_row(form_modification_achat.fin_garantie, {'label': 'Date de fin de garantie'}) }}
                {{ form_row(form_modification_achat.prix, {'label': 'Prix en €'}) }}
                {{ form_row(form_modification_achat.ticket_achat, {'label': 'Ticket d\'achat'}) }}
                {{ form_row(form_modification_achat.manuel_utilisation, {'label': 'Manuel d\'utilisation'}) }}

                <button type="submit" class="btn btn-success">Modifier l'achat</button>

            {{ form_end(form_modification_achat) }}
        </figure>
    </section>
{% endblock %}