{% extends 'base.html.twig' %}

{% block title %}Supprimer un achat{% endblock %}

{% block main %}
    <section>
        <h1>Voulez-vous vraiment supprimer l'achat n<sup>o</sup> {{ id }} ?</h1>
        <nav class="ligne">
            <a info-bulle="Valider" href="{{ path('suppression_achat_valide', {'id': id}) }}"><img class="icone" src="{{ asset('images/valider.svg') }}" alt="Valider"></a>
            <a info-bulle="Annuler" href="{{ path('achats') }}"><img class="icone" src="{{ asset('images/annuler.svg') }}" alt="Annuler"></a>
        </nav>
    </section>
{% endblock %}