{% extends 'base.html.twig' %}

{% block title %}Visualiser un achat{% endblock %}

{% block main %}
<section>
    <h1>Achat</h1>
    <table>
        <tr>
            <th>Nom</th>
            <td>{{ achat.nomProduit }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ achat.categorie }}</td>
        </tr>
        <tr>
            <th>Lieu d'achat</th>
            <td>{{ achat.lieuAchat }}</td>
        </tr>
        <tr>
            <th>Date d'achat</th>
            <td>{{ achat.dateAchat|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Fin de garantie</th>
            <td>{{ achat.finGarantie|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ achat.prix }}</td>
        </tr>
        <tr>
            <th>Informations</th>
            <td>{{ achat.informations }}</td>
        </tr>
        <tr>
            <th>Ticket d'achat</th>
            <td></td>
        </tr>
        <tr>
            <th>Manuel d'utilisation</th>
            <td></td>
        </tr>
    </table>
</section>
{% endblock %}