{% extends 'base.html.twig' %}

{% block title %}Visualiser un achat{% endblock %}

{% block main %}
<section>
    <figure>
        <figcaption class="ligne ecartee">
            <h1>Achat n<sup>o</sup> {{ achat.id }}</h1>
            <nav>
                <a href="{{ path('modification_achat', {'id': achat.id}) }}"><img class="icone" src="{{ asset('images/edition.svg') }}" alt="Éditer"></a>
                <a href="{{ path('suppression_achat', {'id': achat.id}) }}"><img class="icone" src="{{ asset('images/suppression.svg') }}" alt="Supprimer"></a>
            </nav>
        </figcaption>
        <table>
            <tr>
                <th>Nom</th>
                <td>{{ achat.nomProduit }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ achat.categorie }}</td>
            </tr>
            <tr>
                <th>Lieu d'achat</th>
                <td>{{ achat.lieuAchat }}</td>
            </tr>
            <tr>
                <th>Date d'achat</th>
                <td>{{ achat.dateAchat|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Fin de garantie</th>
                <td>{{ achat.finGarantie|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ achat.prix }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ achat.informations }}</td>
            </tr>
            <tr>
                <th>Ticket d'achat</th>
                <td><img src="{{ asset('donnees/tickets/' ~ achat.ticketAchat) }}" alt="Ticket d'achat n° {{ achat.id }}"></td>
            </tr>
            <tr>
                <th>Manuel d'utilisation</th>
                <td><a href="{{ asset('donnees/manuels/' ~ achat.manuelUtilisation) }}" target="_blank">Voir le manuel d'utilisation</a></td>
            </tr>
        </table>
    </figure>
</section>
{% endblock %}