<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        

    </head>
    <body>
        <header>
            <a href="{{ path('tableau_de_bord') }}"><h1>Tableau de bord</h1></a>
            <nav>
                <a href="{{ path('achats') }}">Liste des achats</a>
                <a href="{{ path('ajout_achat') }}">Ajouter un achat</a>
                {% if app.user %}
                    <a href="{{ path('inscription') }}">Ajouter un utilisateur</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('connexion') }}">Connexion</a>
                {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <script src="{{ asset('assets/js/scripts.js') }}" defer></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
